PyPDF2
PyMuPDF
pdf2image
pinecone
langchain
langchain-pinecone
langchain-google-genai
langchain-community
reportlab
python-docx
pandas
openpyxl
gTTS
Pillow
openai
google-generativeai
torch
numpy
librosa
matplotlib
soundfile
scipy
torchaudio
transformers
requests
git+https://github.com/hexgrad/kokoro.git
moviepy
ez_setup
pygame
pytesseract
unstructured>=0.10.30
pdfminer.six>=20221105
pdfplumber